name: Ubuntu CI

on:
  pull_request:
  push:
    branches:
      - 'ign-cmake[0-9]'
      - 'gz-cmake[0-9]'
      - 'main'

jobs:
  noble-ci:
    runs-on: ubuntu-latest
    name: Ubuntu Noble CI
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compile and test
        id: ci
        uses: gazebo-tooling/action-gz-ci@noble
        with:
          cmake-args: '-DBUILDSYSTEM_TESTING=True -DGZ_ENABLE_RELOCATABLE_INSTALL=True'

